@model List<Pizza>

@{
    int count = 0;
}

<div class="d-flex flex-wrap justify-content-center align-items-center">
    @foreach (Pizza pizza in Model)
    {
        <div class="card d-flex flex-row">
            <div>
                <image class="pizza-img" src="@pizza.Immagine"></image>
            </div>
            <div class="d-flex flex-column justify-content-center mx-4">
                <div><h4>@pizza.Nome</h4></div>
                <div>Ingredienti: @pizza.Descrizione</div>
                <div>Prezzo: @pizza.Prezzo $</div>
                <button>
                    <a href="@Url.Action("Details", "Pizza", new { id = count})">Dettagli</a>
                </button>
            </div>
        </div>
        count++;
    }
</div>



    


